In [1]:
import pandas as pd

In [11]:
haltestellen = pd.read_csv('wienerlinien-ogd-haltepunkte.csv', sep=';', index_col=0, usecols=[0,2,5,6], names=['stop_id','name','lon','lat'],header=0)
haltestellen.head()

                                name        lon        lat
stop_id
2                       Venediger Au        NaN        NaN
3                       Messe Prater        NaN        NaN
4                   Perspektivstraße  16.401041  48.217915
5                              Börse  16.366002  48.215563
7        Praterstern, Lassallestraße  16.393769  48.219549