In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
#set parameters
db_user = 'postgres'
db_password = 'postgres'
db_host = 'localhost'
db_port = '5432'
db_name = 'dsi_project'
file_name = '../wienerlinien-ogd-haltepunkte.csv'

In [3]:
#init database
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')
try:
    engine.connect()
    print("success")
except SQLAlchemyError as err:
    print("error", err.__cause__)

success

In [4]:
haltestellen = pd.read_csv(file_name, sep=';', usecols=[0,2,5,6], names=['id','name','longitude','latitude'],header=0)
haltestellen.head()

   id                         name  longitude   latitude
0   2                 Venediger Au        NaN        NaN
1   3                 Messe Prater        NaN        NaN
2   4             Perspektivstraße  16.401041  48.217915
3   5                        Börse  16.366002  48.215563
4   7  Praterstern, Lassallestraße  16.393769  48.219549

In [6]:
haltestellen.to_sql('stops', engine, if_exists='replace', index=False)

236

In [7]:
haltestellen

        id                             name  longitude   latitude
0        2                     Venediger Au        NaN        NaN
1        3                     Messe Prater        NaN        NaN
2        4                 Perspektivstraße  16.401041  48.217915
3        5                            Börse  16.366002  48.215563
4        7      Praterstern, Lassallestraße  16.393769  48.219549
...    ...                              ...        ...        ...
5231  9887                Neulengbach Stadt        NaN        NaN
5232  9888                      Neulengbach        NaN        NaN
5233  9900               Salmannsdorf Dummy        NaN        NaN
5234  9989         Bhf. Hetzendorf, Altmann        NaN        NaN
5235  9999  Test Bahnhof Simmering Schleife        NaN        NaN

[5236 rows x 4 columns]